body{
  background-image: url(../Images/dark-daylight.jpg);
  color: white;

}

.jumbotron{
  background: rgba(161, 77, 77, .5);
  font-family: 'Aladin', cursive;
  font-size: 105%;
}

a{
  color: white;
}

.tab-content{
  background: rgba(161, 77, 77, .5);
}

.btn{
  background-color: rgba(17, 71, 22, 0.8);
  border: gray;
  color: white;
}

.btn:hover{
  background-color: rgba(76, 163, 84, 0.8);
  color: white;
}

hr{
  border-color: white;
}

.card{
  background: none;
}

.playlist {
  margin: 5px;
}

#content-card{
  background: none;
}

#music-card{
  background: rgba(161, 77, 77, .5);
}